.movie-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  .thumbnail-container {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 150px;
    height: 230px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
    border: 2px solid black;
  }
  
  .thumbnail-container:hover {
    width: 250px;
  }
  
  .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .movie-name {
    flex: 0 0 auto;
    color: #000;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .movie-row-container {
    position: relative;
  }
  
  .navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
  }
  
  .navigation-button.left {
    left: 10px;
  }
  
  .navigation-button.right {
    right: 10px;
  }
  